extends layout

block content
  h1= title
  table
    thead
        th Name
        th Values
    tbody
        each part, i in components
            tr
                for field in part
                    td #{field}
                
       