extends layout

block content
  h1= title
  
  table(style='width:75%')
    tr
        th Name
        th Value
        th Type
  
    tr
        td Jill
        |     
        td Smith
        |  
        |     
        td 50
      |   
    tr
        td Eve
        |     
        td Jackson
        |  
        |     
        td 94

  