extends layout
block content
    h1=title
    p Upload Board File to Continue.
    form(role="form" method='post' action="/uploads" enctype="multipart/form-data")
        label.defaultLabel
            input(type='file' onchange="this.form.submit()" name="myFile")
            span Upload